/* Styles for place.html */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 45px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

#login-link {
    padding: 10px 20px;
    background-color: #ddd;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#home-link {
    padding: 10px 20px;
    background-color: #ddd;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.place-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.place-image-large {
    width: 30rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

#place-name {
    margin: 20px;
}

.place-info {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
    text-align: center;
    line-height: 1.9;
    justify-content: space-between;
}

#reviews-section {
    padding: 30px;
}

.review-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    line-height: 1.9;
    text-align: left;
}

.add-review {
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-top: 15px;
    margin-bottom: 5px;
}

.form textarea, .form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.submit-button, #add-review-button {
    padding: 10px;
    background-color: #ddd;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
